<div>
  <%= @chat.mp3_file.filename %>
</div>

<div>
  <%= @chat.transcibed_text %>
</div>

<div>
  <%= audio_tag url_for(@chat.mp3_file), controls: true %>
</div>

<div>
  <%= link_to "フォームへ", "/chats/form" %>
</div>